<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ihandy.generator.mybatis.dao.TlVariableMapper" >
  <resultMap id="BaseResultMap" type="ihandy.generator.mybatis.model.TlVariable" >
    <id column="VARIABLE_ID" property="variableId" jdbcType="INTEGER" />
    <result column="VARIABLE_NAME" property="variableName" jdbcType="VARCHAR" />
    <result column="VARIABLE_CLASSNAME" property="variableClassname" jdbcType="VARCHAR" />
    <result column="VARIABLE_CLASSRELATION" property="variableClassrelation" jdbcType="VARCHAR" />
    <result column="VARIABLE_DESC" property="variableDesc" jdbcType="VARCHAR" />
    <result column="VARIABLE_MUST" property="variableMust" jdbcType="INTEGER" />
    <result column="VARIABLE_STATUS" property="variableStatus" jdbcType="INTEGER" />
    <result column="VARIABLE_MEMO" property="variableMemo" jdbcType="VARCHAR" />
    <result column="RELATION_CLASS_ID" property="relationClassId" jdbcType="INTEGER" />
    <result column="ORDER_BY" property="orderBy" jdbcType="INTEGER" />
    <result column="TEST_TYPE" property="testType" jdbcType="INTEGER" />
    <result column="TEST_DATASET" property="testDataset" jdbcType="VARCHAR" />
    <result column="TEST_DESC" property="testDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    VARIABLE_ID, VARIABLE_NAME, VARIABLE_CLASSNAME, VARIABLE_CLASSRELATION, VARIABLE_DESC, 
    VARIABLE_MUST, VARIABLE_STATUS, VARIABLE_MEMO, RELATION_CLASS_ID, ORDER_BY, TEST_TYPE, 
    TEST_DATASET, TEST_DESC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ihandy.generator.mybatis.model.TlVariableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TL_VARIABLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
      <if test="page != null" >
        limit #{page.begin} #{page.end}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TL_VARIABLE
    where VARIABLE_ID = #{variableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TL_VARIABLE
    where VARIABLE_ID = #{variableId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ihandy.generator.mybatis.model.TlVariableExample" >
    delete from TL_VARIABLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ihandy.generator.mybatis.model.TlVariable" >
    insert into TL_VARIABLE (VARIABLE_ID, VARIABLE_NAME, VARIABLE_CLASSNAME, 
      VARIABLE_CLASSRELATION, VARIABLE_DESC, VARIABLE_MUST, 
      VARIABLE_STATUS, VARIABLE_MEMO, RELATION_CLASS_ID, 
      ORDER_BY, TEST_TYPE, TEST_DATASET, 
      TEST_DESC)
    values (#{variableId,jdbcType=INTEGER}, #{variableName,jdbcType=VARCHAR}, #{variableClassname,jdbcType=VARCHAR}, 
      #{variableClassrelation,jdbcType=VARCHAR}, #{variableDesc,jdbcType=VARCHAR}, #{variableMust,jdbcType=INTEGER}, 
      #{variableStatus,jdbcType=INTEGER}, #{variableMemo,jdbcType=VARCHAR}, #{relationClassId,jdbcType=INTEGER}, 
      #{orderBy,jdbcType=INTEGER}, #{testType,jdbcType=INTEGER}, #{testDataset,jdbcType=VARCHAR}, 
      #{testDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ihandy.generator.mybatis.model.TlVariable" >
    insert into TL_VARIABLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="variableId != null" >
        VARIABLE_ID,
      </if>
      <if test="variableName != null" >
        VARIABLE_NAME,
      </if>
      <if test="variableClassname != null" >
        VARIABLE_CLASSNAME,
      </if>
      <if test="variableClassrelation != null" >
        VARIABLE_CLASSRELATION,
      </if>
      <if test="variableDesc != null" >
        VARIABLE_DESC,
      </if>
      <if test="variableMust != null" >
        VARIABLE_MUST,
      </if>
      <if test="variableStatus != null" >
        VARIABLE_STATUS,
      </if>
      <if test="variableMemo != null" >
        VARIABLE_MEMO,
      </if>
      <if test="relationClassId != null" >
        RELATION_CLASS_ID,
      </if>
      <if test="orderBy != null" >
        ORDER_BY,
      </if>
      <if test="testType != null" >
        TEST_TYPE,
      </if>
      <if test="testDataset != null" >
        TEST_DATASET,
      </if>
      <if test="testDesc != null" >
        TEST_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="variableId != null" >
        #{variableId,jdbcType=INTEGER},
      </if>
      <if test="variableName != null" >
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableClassname != null" >
        #{variableClassname,jdbcType=VARCHAR},
      </if>
      <if test="variableClassrelation != null" >
        #{variableClassrelation,jdbcType=VARCHAR},
      </if>
      <if test="variableDesc != null" >
        #{variableDesc,jdbcType=VARCHAR},
      </if>
      <if test="variableMust != null" >
        #{variableMust,jdbcType=INTEGER},
      </if>
      <if test="variableStatus != null" >
        #{variableStatus,jdbcType=INTEGER},
      </if>
      <if test="variableMemo != null" >
        #{variableMemo,jdbcType=VARCHAR},
      </if>
      <if test="relationClassId != null" >
        #{relationClassId,jdbcType=INTEGER},
      </if>
      <if test="orderBy != null" >
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="testType != null" >
        #{testType,jdbcType=INTEGER},
      </if>
      <if test="testDataset != null" >
        #{testDataset,jdbcType=VARCHAR},
      </if>
      <if test="testDesc != null" >
        #{testDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ihandy.generator.mybatis.model.TlVariableExample" resultType="java.lang.Integer" >
    select count(*) from TL_VARIABLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TL_VARIABLE
    <set >
      <if test="record.variableId != null" >
        VARIABLE_ID = #{record.variableId,jdbcType=INTEGER},
      </if>
      <if test="record.variableName != null" >
        VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      </if>
      <if test="record.variableClassname != null" >
        VARIABLE_CLASSNAME = #{record.variableClassname,jdbcType=VARCHAR},
      </if>
      <if test="record.variableClassrelation != null" >
        VARIABLE_CLASSRELATION = #{record.variableClassrelation,jdbcType=VARCHAR},
      </if>
      <if test="record.variableDesc != null" >
        VARIABLE_DESC = #{record.variableDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.variableMust != null" >
        VARIABLE_MUST = #{record.variableMust,jdbcType=INTEGER},
      </if>
      <if test="record.variableStatus != null" >
        VARIABLE_STATUS = #{record.variableStatus,jdbcType=INTEGER},
      </if>
      <if test="record.variableMemo != null" >
        VARIABLE_MEMO = #{record.variableMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.relationClassId != null" >
        RELATION_CLASS_ID = #{record.relationClassId,jdbcType=INTEGER},
      </if>
      <if test="record.orderBy != null" >
        ORDER_BY = #{record.orderBy,jdbcType=INTEGER},
      </if>
      <if test="record.testType != null" >
        TEST_TYPE = #{record.testType,jdbcType=INTEGER},
      </if>
      <if test="record.testDataset != null" >
        TEST_DATASET = #{record.testDataset,jdbcType=VARCHAR},
      </if>
      <if test="record.testDesc != null" >
        TEST_DESC = #{record.testDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TL_VARIABLE
    set VARIABLE_ID = #{record.variableId,jdbcType=INTEGER},
      VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      VARIABLE_CLASSNAME = #{record.variableClassname,jdbcType=VARCHAR},
      VARIABLE_CLASSRELATION = #{record.variableClassrelation,jdbcType=VARCHAR},
      VARIABLE_DESC = #{record.variableDesc,jdbcType=VARCHAR},
      VARIABLE_MUST = #{record.variableMust,jdbcType=INTEGER},
      VARIABLE_STATUS = #{record.variableStatus,jdbcType=INTEGER},
      VARIABLE_MEMO = #{record.variableMemo,jdbcType=VARCHAR},
      RELATION_CLASS_ID = #{record.relationClassId,jdbcType=INTEGER},
      ORDER_BY = #{record.orderBy,jdbcType=INTEGER},
      TEST_TYPE = #{record.testType,jdbcType=INTEGER},
      TEST_DATASET = #{record.testDataset,jdbcType=VARCHAR},
      TEST_DESC = #{record.testDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ihandy.generator.mybatis.model.TlVariable" >
    update TL_VARIABLE
    <set >
      <if test="variableName != null" >
        VARIABLE_NAME = #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableClassname != null" >
        VARIABLE_CLASSNAME = #{variableClassname,jdbcType=VARCHAR},
      </if>
      <if test="variableClassrelation != null" >
        VARIABLE_CLASSRELATION = #{variableClassrelation,jdbcType=VARCHAR},
      </if>
      <if test="variableDesc != null" >
        VARIABLE_DESC = #{variableDesc,jdbcType=VARCHAR},
      </if>
      <if test="variableMust != null" >
        VARIABLE_MUST = #{variableMust,jdbcType=INTEGER},
      </if>
      <if test="variableStatus != null" >
        VARIABLE_STATUS = #{variableStatus,jdbcType=INTEGER},
      </if>
      <if test="variableMemo != null" >
        VARIABLE_MEMO = #{variableMemo,jdbcType=VARCHAR},
      </if>
      <if test="relationClassId != null" >
        RELATION_CLASS_ID = #{relationClassId,jdbcType=INTEGER},
      </if>
      <if test="orderBy != null" >
        ORDER_BY = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="testType != null" >
        TEST_TYPE = #{testType,jdbcType=INTEGER},
      </if>
      <if test="testDataset != null" >
        TEST_DATASET = #{testDataset,jdbcType=VARCHAR},
      </if>
      <if test="testDesc != null" >
        TEST_DESC = #{testDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where VARIABLE_ID = #{variableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ihandy.generator.mybatis.model.TlVariable" >
    update TL_VARIABLE
    set VARIABLE_NAME = #{variableName,jdbcType=VARCHAR},
      VARIABLE_CLASSNAME = #{variableClassname,jdbcType=VARCHAR},
      VARIABLE_CLASSRELATION = #{variableClassrelation,jdbcType=VARCHAR},
      VARIABLE_DESC = #{variableDesc,jdbcType=VARCHAR},
      VARIABLE_MUST = #{variableMust,jdbcType=INTEGER},
      VARIABLE_STATUS = #{variableStatus,jdbcType=INTEGER},
      VARIABLE_MEMO = #{variableMemo,jdbcType=VARCHAR},
      RELATION_CLASS_ID = #{relationClassId,jdbcType=INTEGER},
      ORDER_BY = #{orderBy,jdbcType=INTEGER},
      TEST_TYPE = #{testType,jdbcType=INTEGER},
      TEST_DATASET = #{testDataset,jdbcType=VARCHAR},
      TEST_DESC = #{testDesc,jdbcType=VARCHAR}
    where VARIABLE_ID = #{variableId,jdbcType=INTEGER}
  </update>
</mapper>